.content {
  flex: 1;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  /* border: 2px solid rgb(0, 255, 153);  */
}

.fondo-logo {
  position: absolute;
  left: 25%;
  top: 10%;

  /* opacity: 0.92; */
  filter: brightness(0.985);
  width: 80%;
  height: auto;

  z-index: 0;
  pointer-events: none;
  user-select: none;
    /* border: 2px solid red;  */
}

.content-body {
  position: relative;
  z-index: 1;

  flex: 1;
  /* border: 2px solid rgb(251, 255, 0);  */
}